name: bash-toybox Image CI
permissions: {}

on:
  push:
    branches:
    - 'master'
    paths:
    - '.github/workflows/bash-toybox.yml'
    - 'bash-toybox/Dockerfile'
    - 'bash-toybox/debian12.Dockerfile'
  schedule:
  - cron: "20 10 1-31/10 * *"
  workflow_dispatch:

jobs:
  bash-toybox:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      -
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and load the latest variant to local daemon
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:bash-toybox"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:latest
      -
        name: Smoke Test
        env:
          registry_repo: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox
        run: |
          docker save -o "bash-toybox.tar" "${registry_repo}:latest"
      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:bash-toybox"
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      -
        name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:latest \
              | grep -Po '[^ \r\n\t\v]+@sha256:[a-z0-9]+' | xargs -r -t -n 1 docker buildx imagetools inspect --raw
      -
        name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          input: "bash-toybox.tar"
          format: 'table'

  bash-toybox-debian12:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      -
        name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and load the latest variant to local daemon
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:bash-toybox"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: "./debian12.Dockerfile"
          load: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:debian12
      -
        name: Smoke Test
        env:
          registry_repo: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox
        run: |
          docker save -o "bash-toybox.tar" "${registry_repo}:debian12"
      -
        name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: "{{defaultContext}}:bash-toybox"
          push: true
          platforms: linux/amd64,linux/arm64
          file: "./debian12.Dockerfile"
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:debian12
          cache-from: type=gha
          cache-to: type=gha,mode=max

      -
        name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ secrets.DOCKERHUB_USERNAME }}/bash-toybox:debian12 \
              | grep -Po '[^ \r\n\t\v]+@sha256:[a-z0-9]+' | xargs -r -t -n 1 docker buildx imagetools inspect --raw
      -
        name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          input: "bash-toybox.tar"
          format: 'table'
