name: Caddy Image CI

on:
  push:
    branches:
    - 'release'
    paths:
    - '.github/workflows/caddy.yml'
    - 'caddy/**'
  workflow_dispatch:
  workflow_run:
    workflows: [Auto Update Variables]
    types: [completed]

env:
  REGISTRY_IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/caddy

jobs:
  images:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push by digest
        id: build
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:caddy"
          push: true
          platforms: ${{ matrix.platform }}
          cache-from: type=gha,scope=${{ matrix.platform }}
          cache-to: type=gha,mode=max,scope=${{ matrix.platform }}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true
      -
        name: Export digest
        run: |
          mkdir -p /tmp/caddy-digests/
          digest="${{ steps.build.outputs.digest }}"
          touch "/tmp/caddy-digests/${digest#sha256:}"          

          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      -
        name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: caddy-digests-${{ env.PLATFORM_PAIR }}
          path: /tmp/caddy-digests/*
          if-no-files-found: error
          retention-days: 1

  multiarch:
    runs-on: ubuntu-latest
    needs:
      - images
    steps:
      -
        name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: /tmp/caddy-digests/
          pattern: caddy-digests-*
          merge-multiple: true
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Create manifest list and push
        working-directory: /tmp/caddy-digests/
        run: |
          docker buildx imagetools create --tag ${{ env.REGISTRY_IMAGE }}:cfdns \
              $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)          
      -
        name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:cfdns
