name: piknik Image CI
permissions: {}

on:
  push:
    branches:
    - 'release'
    paths:
    - '.github/workflows/piknik.yml'
  workflow_dispatch:


env:
  PIKNIK_VERSION: 0.10.2

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          repository: "jedisct1/piknik"
          ref: "${{ env.PIKNIK_VERSION }}"

      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          check-latest: true
          cache: false
          go-version: 'stable'

      - name: pre-start
        shell: bash
        run: |
          curl() { $(type -P curl) -LRq --retry 5 --retry-delay 10 --retry-max-time 60 --fail "$@"; }
          curl -o '.ko.yaml' -- \
              https://raw.githubusercontent.com/IceCodeNew/docker-collections/master/default.ko.yaml

      - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d # v0.9
        env:
          KO_DOCKER_REPO: docker.io/${{ secrets.DOCKERHUB_USERNAME }}/piknik
      - run: ko build --platform=linux/amd64,linux/arm64 --bare ./
